# 1.2.1: Sequences

In Python, a sequence is a collection of objects ordered by their position.
In Python, there are three basic sequences,
which are lists, tuples, and so-called "range objects".

In [2]:
# The first, fundamental aspect to understand about sequences is that indexing starts at 0.

x = [1, 2, 3, 4]
x[0] # calls on the first object in the sequence which is 1, by indexing with 0.

1

In [ ]:
Another way to access objects within the sequence
is not to count from left to right, but from right to left.
So we can access sequences either by giving a positive index, which
is counting a location from the left to right,
or we can use a negative index, which is counting positions from right to left.

In [3]:
x[-1] # starts to count the sequence from right to left, and begins to index to the left of 0 which is -1.

4

In [7]:
# Sequences also support an operation called "slicing."
x[3] # we can call on specific values

4

In [10]:
x

[1, 2, 3, 4]

In [13]:
x[0:3] # or we can call on range. Notice that when call on the range, it will not display the stop position (last index) 
# that we called on, but rather the value before the stop postion (stop value - 1).

[1, 2, 3]

In [18]:
(1, 2, 3)[-0]

1

In [15]:
(1, 2, 3)[-0:0] # it begins at 1, but it also ends at 1. Thus since it also ends at 1, it won't display.

()

# 1.2.2: Lists

In [ ]:
Lists are mutable sequences of objects of any type. 
Lists are one type of sequence, just like strings.
If we compare a string and a list, one difference
is that strings are sequences of individual characters,
whereas lists are sequences of any type of Python objects.
Another difference between strings and lists
is that strings are immutable, whereas lists are mutable.

In [20]:
numbers = [2, 4, 6, 8]
numbers[0] # the first object, meaning the object located at position 0 is number 2.

In [21]:
numbers[-1]

8

In [22]:
# Remember, because lists are mutable sequences, we can modify their content after we've created them.
# Let's try appending a new number, a number 10, to the end of our list.

numbers.append(10)

In [23]:
numbers

[2, 4, 6, 8, 10]

In [24]:
x = [12, 14, 16]

In [25]:
# In Python, I can use the plus sign as long as both objects are
# lists to concatenate them.

numbers + x

[2, 4, 6, 8, 10, 12, 14, 16]

In [26]:
type(_) # we can check the type of the object that python most recently outputted

list

In [29]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]

In [30]:
# And what I would like to do is, I would like
# to reverse the content of the list.

numbers.reverse()

In [31]:
numbers

[8, 7, 6, 5, 4, 3, 2, 1]

In [32]:
names = ["Zofia", "Alex", "Morgan", "Anthony"]

In [33]:
# Let's then a look at the sort method
names.sort() # sorts them alphabetically

In [34]:
names

['Alex', 'Anthony', 'Morgan', 'Zofia']

In [36]:
# We can also use the function sorted, however this function will create a new list
names.reverse()
names

['Zofia', 'Morgan', 'Anthony', 'Alex']

In [37]:
sorted_names = sorted(names)
sorted_names # New list

['Alex', 'Anthony', 'Morgan', 'Zofia']

In [38]:
# Finally, if you wanted to find out how many objects our list contains, we can use a generic sequence function, len.

len(names)

4

# 1.2.3: Tuples

Tuples are immutable sequences typically used to store heterogeneous data.
The best way to view tuples is as a single object that
consists of several different parts.
One especially important use case is when you want to return more than one
object from your Python function.
In that case, you would typically wrap all of those objects
within a single tuple object, and then return that tuple.
Tuples are a type of sequence

In [43]:
T = (1, 3, 5, 7) # Notice we use parentheses for tuples and [] for lists

In [44]:
len(T) # Since tuples are a type of sequence, I can use len

4

In [45]:
# I can also concatenate tuples

T + (9, 11) # notice 9, 11 are in parentheses

(1, 3, 5, 7, 9, 11)

In [46]:
T[1] # we still access them with []

3

In [47]:
x = 12.23
y = 23.34

In [50]:
# Imagine now if I wanted to construct a tuple object. We could think of these two numbers x and y as coordinates.
# I could define my coordinate as a tuple, which consists of two objects, x and y.

coordinate = (x, y) 
coordinate

# This is calles packing a tuple or tuple packing

(12.23, 23.34)

In [51]:
type(coordinate) # we can see that coordinate is now a tuple

tuple

In [52]:
# To unpack a tuple

(c1, c2) = coordinate

In [53]:
c1

12.23

In [54]:
c2

23.34

In [55]:
# We can also use tuples in FOR loops, which is extremely handy.
# Let's say I've created multiple coordinates.
# In this case, my object coordinates is a list which consists of tuples where each tuple consists of two numbers.

coordinates = [(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [56]:
coordinates

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

In [57]:
for (x, y) in coordinates:
    print(x, y) # I'm unpacking the tuples within the coordinates list one at a time

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [58]:
c = (2,3)
type(c)

tuple

In [59]:
# Lets say we want to create a new tuple just with the object 2.
c = (2)
type(c)

int

In [60]:
# Notice that c is no longer a tuple, but an integer. This is not what we wanted. 
# To construct a tuple with just one object we put a comma after the object. 

c = (2,) # by putting the coma after the 2, we let python know we want a tuple
type(c)

tuple

In [61]:
x = (1, 2, 3)

In [65]:
x.count(3) # counts the numbers of 3's in a tupple

1

In [68]:
sum(x) # sums the numbers inside the tupple

6

In [63]:
# How could you add the integer 4 to the end of the tuple?

# Answer: This is impossible. Tuples are immutable, so they can't be edited after theyâ€™ve been created.

# 1.2.4: Ranges

Ranges are immutable sequences of integers,
and they are commonly used in for loops.

In [72]:
# To create a range object, we type "range"
# and then we put in the stopping value of the range.

range(5)

range(0, 5)

In [73]:
# Although, we wouldn't typically do this in a Python program,
# for us to really see the content of that range object,
# so what we can do in this case is we can turn it into a list.

list(range(5)) # We see it containes numbers from 0 to 4, not 5.

#And remember, Python stops before it hits the stopping value.
#That's why range 5 does actually not contain the number 5.

[0, 1, 2, 3, 4]

In [75]:
# Ee can provide the starting point,and we can also define the step size.

list(range(1,6)) # starts at 1, ends at 5.

[1, 2, 3, 4, 5]

In [76]:
# If we wanted to go in increments of two, we could do something like this.
list(range(1,6,2)) # starts at, increases by 2. 
# Just remember, don't turn them into lists before using them.

[1, 3, 5]

# 1.2.5: Strings

Strings are immutable sequences of characters.
In Python, you can enclose strings in either single quotes,
in quotation marks, or in triple quotes.

In [77]:
S = "Python"

In [78]:
len(S) # how long is my string?

6

In [80]:
S[0] # first element of the string

'P'

In [81]:
S[-1] # last element of the string

'n'

In [82]:
# I can also do slicing. In that case, I specify the starting point of the slice and the end point of the slice.
S[0:3] # notice we only display 0 1 2 - Pyt, 3 is not displayed as it is the stopping point.

'Pyt'

In [84]:
 # I can also do slicing using negative indices.
S[-3:] #  the last three characters in that sequence

'hon'

In [85]:
# I can also test for memberships using the strings.
# For example, imagine I wanted to ask, is the character y part of my string?

"y" in S

True

In [86]:
# If I use capital Y,

"Y" in S

False

Strings are a good place to talk about polymorphism.
Remember, polymorphis bm means that what an operator does
depends on the type of objects it is being applied to.

In [87]:
12 + 12 # the addition sign serves for simple addition for integers

24

In [88]:
# I can also add two strings together. In that case, the operation is not called addition, but concatenation.

"hello" + "world" # concatenation, always a new string is created.

'helloworld'

In [90]:
# Remember that multiplying is just adding the same number by a multiple. For example, 3*5 = 5 + 5 + 5. 
# Also remember that a  plus sign between two strings means concatenation, like the example above.
# If we try multiplication, the same happens. 

S = "Python"

3*S # all it does , is it takes Python + Python + Python

'PythonPythonPython'

In [91]:
# In order for polymorphism to work, these two objects have to be of the same type.
# So while it makes sense to add a number to a number and a string to string,
# it does not make sense to add a string to a number or vice versa.
# Let's try to concatenate a string and a number.

"eight equals" + 8 # does not works since the two objects are not of the same type.

TypeError: can only concatenate str (not "int") to str

In [93]:
"eight equals " + str(8) # now it works as 8 is converted into a string

'eight equals 8'

In [ ]:
Strings have their own methods that enable you to manipulate strings.
To get a directory of all attributes, I type dir, str for strings,

In [96]:
dir(str) # will give me a list of attributes

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [97]:
# need more help, lets say I wanted know more about the replace method.
str.replace?

In [98]:
name = "Tina Fey"
name.replace("T", "t") # Because strings are immutable objects, Python doesn't actually modify your string.
# It returns a new string to you.

'tina Fey'

In [102]:
# Let's try the split method. The split method takes a string and breaks that down into substrings.

names = name.split(" ") # splits the string at the space
names

['Tina', 'Fey']

In [103]:
type(names) # tells us the type of the object

list

In [104]:
len(names) # tells us how many objects are in the list

2

In [105]:
# Because names is a list, we can access individual objects by their position.
names[0]

'Tina'

In [106]:
names[1]

'Fey'

In [108]:
type(names[0]) # within the the list we can extract the first objecet and find its type

str

In [109]:
names[0].upper()

'TINA'

In [112]:
2 * "2"

'22'

In [113]:
# Which of the following lines of code will fail to return the integers 0 through 9 in a single string?
"0"+"1"+"2"+"3"+"4"+"5"+"6"+"7"+"8"+"9"

'0123456789'

In [114]:
"".join([str(i) for i in range(10)])

'0123456789'

In [115]:
str(range(10)) # This one

'range(0, 10)'

In [119]:
string.digits

'0123456789'

In [ ]:
# Assume you have assigned x the string value of "125,000" (i.e., x = "125,000"). 
# Can you find a string method that tests if x only contains digits?

#Enter your code that tests whether x contains only digits.

In [120]:
x = "125,000"

In [122]:
x.isdigit()

False

# 1.2.6: Sets

In [ ]:
Sets are unordered collections of distinct hashable objects.
But what does it mean for an object to be hashable?
In practice, what that means is you can use sets for immutable objects
like numbers and strings, but not for mutable objects
like lists and dictionaries.

There are two types of sets.
One type of set is called just "a set".
And the other type of set is called "a frozen set".
The difference between these two is that a frozen set is not mutable
once it has been created.
In other words, it's immutable.
In contrast, your usual, normal set is mutable.

You can think of a set as an unordered collection of objects.
One of the key ideas about sets is that they cannot be indexed.
So the objects inside sets don't have locations.

Another key feature about sets is that the elements can never be duplicated.
So if you have a given element or object in your set, say number 3,
if you try adding that number again in the set, nothing happens.
This means that all of the objects inside a set
are always going to be unique or distinct.

Python sets are especially useful for keeping track of distinct objects
and doing mathematical set operations like unions, intersections, and set
differences

In [123]:
ids = set() # creates an empty set

In [124]:
ids = set([1,2,4,6,7,8,9]) # set with a list of ids inside,

In [125]:
len(ids)

7

In [127]:
# lets say I wanted to add the number 10 to the list of ids

ids.add(10)
ids

{1, 2, 4, 6, 7, 8, 9, 10}

In [128]:
# lets say I wanted to add the number 2 to the list of ids

ids.add(2)
ids # notice that nothing happens. A key feature of sets is that if you already have an object in the set,
# and if you try adding that same object again, nothing happens.

{1, 2, 4, 6, 7, 8, 9, 10}

In [130]:
# We can remove members or objects from sets using the pop function.
ids.pop()

1

In [134]:
len(ids) # now I have one less object

7

In [136]:
# Let's say that it consists of individuals with ids ranging from 0 to 9.

ids  = set(range(10)) # 0 to 9
ids

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [137]:
males = set([1,3,5,6,7])

In [140]:
# A very useful property of sets is that we can use them from a mathematical set operations.
# I can now use the set males to define a new set that I'm going to call females.

females = ids - males

In [139]:
type(females)

set

In [142]:
# I can perform the set union operation in a very handy way.

everyone = males | females # The short hand operation for a set union in Python is a vertical line.
everyone

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [143]:
# I can take an intersection of two sets using the ampersand (&) operation.

everyone & set([1,2,3])

{1, 2, 3}

In [144]:
# As a simple application of sets, let's use sets to count the number of unique letters in a word.

word = "anitdisestablishmentarianism"
letters = set(word) # I construct a set

In [145]:
# To find out how many unique letters I have in this word, 

len(letters)

# So in this case, we were able to use the set object to simply count the number of unique letters in a string.

12

In [168]:
# Let sets x={1,2,3} and y={2,3,4}. How could you get {4} from x and y using basic set operations?

x = {1,2,3} # notice we use {} for sets
y = {2,3,4}

y - x

{4}

In [170]:
# Consider again sets x={1,2,3} and y={2,3,4}. How could you get {2, 3} from x and y using basic set operations?

x & y # intersection

{2, 3}

In [173]:
# Consider again sets x={1,2,3} and y={2,3,4}. How could you get {1, 4} from x and y using the provided set methods?

(x | y) - (x & y)

{1, 4}

In [ ]:
# Consider again sets x={1,2,3} and y={2,3,4}. Which of the following lines of code will determine if all elements of x are in y

In [174]:
x.issubset(y)

False

# 1.2.7: Dictionaries

In [ ]:
Dictionaries are mappings from key objects to value objects.
Dictionaries consists of Key:Value pairs, where the keys must be immutable
and the values can be anything.

Dictionaries themselves are mutable so this
means once you create your dictionary, you can modify its contents on the fly.

Dictionaries can be used for performing very fast look-ups on unordered data.
A key aspect to be aware about regarding dictionaries
is that they are not sequences, and therefore do not
maintain any type of left-right order.
This means that if you're looping over a dictionary,
the Key:Value pairs will be iterated over in arbitrary order.

** remember key and value

In [179]:
age = {} # empty dictionary

In [180]:
age = dict() # also an empty dictionary

In [181]:
# Let's then construct a dictionary that consists of names and ages.
# In this particular dictionary, the names are going to be the keys and the ages are going to be the value objects.

age = {"Tim": 29, "Jim": 31,"Pam": 27, "Sam":35}

In [182]:
# Imagine the first task we'd like to do is look up a person's age.

age["Pam"] # we insert the key, the name

27

In [184]:
# Often, we'd like to modify the value objects that are associated with specific keys.
# Let's say we would like to increase the age of Tim by one year.

age["Tim"] = age["Tim"] + 1

In [185]:
# There's a very handy shorthand notation for the same

age["Tim"] += 1 # you first do it the incrementation and then the assignment.

In [186]:
age["Tim"]

31

In [ ]:
Let's make sure we understand what happens when we say plus equals.
When you're reading code from left to right, the plus operation happens first.
Then we have the equal sign, which means assignment.
So when we say something plus equals 1, for example, we first
take the value of the object, we add one to that object,
and then we reassign it back to the original object.

In [188]:
# key method
names = age.keys() # We're going to first extract all of the names in the dictionary.
names

dict_keys(['Tim', 'Jim', 'Pam', 'Sam'])

In [189]:
type(names)

dict_keys

In [192]:
# Let's say I would like to add a new key to my dictionary.
# Let's add a person called Tom who is 50 in our dictionary

age["Tom"] = 50

In [194]:
# If we now ask, what are the names, you'll see that the view object also contains Tom.
# We didn't redefine the content of names,and this is the nature of view object.
# As we modify the dictionary, the content of the view object will change automatically.

names

dict_keys(['Tim', 'Jim', 'Pam', 'Sam', 'Tom'])

In [195]:
# value methods

ages = age.values()
ages

dict_values([31, 31, 27, 35, 50])

In [196]:
# I'm going to add one more person to the dictionary. Let's call that person Nick, and let's say Nick is 31 years old. 
age["Nick"] = 31

In [197]:
# If I now ask Python, what are the names, you'll see that the name Nick is also contained in the names object.
# This is the nature of views objects--their content is dynamically updated as you modify your dictionary.

names

dict_keys(['Tim', 'Jim', 'Pam', 'Sam', 'Tom', 'Nick'])

In [198]:
# Finally, let's see how we'll test for membership in a dictionary
"Tom" in age

True

In [199]:
age[0]

KeyError: 0